<section class="container">
  <h1 class="page-title">History of Asbury Broadneck UMC</h1>
  <section class="old-church-img">
    <%= image_tag "ch4.jpg", class: "church-img" %>
  </section>
  <section class="history-section">
    <section>
      <p>Asbury Broadneck United Methodist Church is an historical African American church.  It is reported that the church began  before 1851 when enslaved men of African decent started meeting at a placed called "Old School House Hill" to praise God in their own way.  This was before they could afford a church house.  But, the first church was build only yards from the original meeting location on St. Margaret's Road, which is now Meeting House Lane south of Route 50 east of Annapolis, MD.</p>
      <p>The trustees of the first church house were:  Henry Barnes, Philip Dorsey, Nance Hawkins, David Johnson  and Henry Wright.  On October 9, 1851 members of the church paid $60 for land and the first church building. The purchase was made from Samuel Richardson.</p>

      <p>The second church house was build on a piece of land purchased March 21, 1865.  An organization within the church known as "The Sons and Daughters of Joshua" donated the third piece of land where the current church is located.</p>

      <p>Early on the church was known as "Broadneck Church".  But as far back as the mid 1800's the church was under the leadership of the Asbury Annapolis Church, and the church was referred to as "Little Asbury".  The pastors of Asbury Annapolis ministered to the congregation at Little Asbury.  This lasted until 1873. The association lead to the church later being named "Asbury Broadneck Methodist Episcopal Church".  Reverend Isaac (Ike) E. Johnson, who was a lay pastor at the time, became the first  on-site pastor after the association with Asbury Annapolis.</p>
    </section>

    <section class="group">
      <h2 class="section-title">Former Pastors</h2>
      <p>Isaac (Ike) E. Johnson (Served 1873 - 1895)</p>
      <p>J. W. Titus (Served 1895 - 1896)</p>
      <p>T. B. Snowden (1Served 897)</p>
      <p>R. H. Robinson (Served 1898)</p>
      <p>T. W. Boothe (Served 1899)</p>
      <p>E. Moore (Served 1900 -1906)</p>
      <p>J. L. Evans (Served 1907 -1910)</p>
      <p>J. W. Galloway (Served 1911 - 1912)</p>
      <p>N. P. Minor (Served 1931 - 1936)</p>
      <section class="past-pastors-img group">
        <figure>
          <%= image_tag "stewart-h-brown.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "john-h-goodridge.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "la-carter.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "bp-perkins.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "gd-anderson.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "ha-brooks.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "re-burnett.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "rc-williams.jpg", class: "former-pastors" %>
        </figure>
        <figure>
          <%= image_tag "bp-jordan-sr.jpg", class: "former-pastors" %>
        </figure>
      </section>
    </section>
    </section>
</section>